h1{
    background-color:salmon;
    color: white;
}
#boxModel {
    text-align: center;
    background-color: aqua;
    border: 3px dotted red;

    padding: 10px;
    margin: 50px;
}
body {
    background-color: aquamarine;
}
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}