body{
    background-color:cyan;
}
h1{
    font-size: 50px;
}
/*tablat-ipad air*/
@media only screen and (max-width:820px){
    h1{
        font-size: 40px;
    }
    body{
        background-color: brown;
    }
} 
/*iphone 12pro*/
@media all and (max-width:450px){
    body{
        background-color: blue;
    }
    h1{
        font-size: 20px;
    }
    h2{
    display:none;
}
}